.buildpath
.settings/
.project
*.patch
.idea/
.cursor/
.git/
runtime/
vendor/
cert/
public/
.phpintel/
.env
.env.test
.env.production
.env.star
.DS_Store
.phpunit*
*.cache
.vscode/
/phpstan.neon
/phpunit.xml